body {
    background-color: rgb(14, 12, 12);
}

.index-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 70vh;
}

.index-container-h1 {
    margin: auto;
    color: rgb(197, 191, 191);
    text-align: center;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
}

.about-container-piece {
    margin: auto;
    color: rgb(197, 191, 191);
    text-align: left;
    font-size: 20px;
}

.about-p {
    margin: 0;
}

#my-name {
    text-align: center;
}

.my-cv-container {
    display: flex;
    flex-direction: column;
}

.my-cv-container-piece {
    color: rgb(197, 191, 191);
}

.my-work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
    align-content: center;
}

.my-work-container-piece {
    text-align: left;
}

.topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*Styla länkarna i menyn*/
.topnav a {
    color: rgb(197, 191, 191);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}

/*Ändra länkarnas utseende när man håller musen över dem*/
.topnav a:hover {
    text-decoration: underline;
    color: rgb(194, 194, 2);
}

/*Ändra utseende på den nuvarande aktiva länken*/
.topnav a.active {
    text-decoration: underline;
    color: rgb(194, 194, 2);
}

/*Ändrar utseendet för personbilden*/
.photo {
    width: 200px;
    object-fit: contain;
    border-radius: 20px;
    border: 3px inset white;
}

.other-h1 {
    color: rgb(194, 194, 2);
}

#studying {
    color: rgb(194, 194, 2);
}

.work-name {
    color: rgb(197, 191, 191);
    font-size: 1.5rem;
    text-decoration-line: underline;
    margin-bottom: 8px;
}

.work-img {
    max-width: 300px;
    border-radius: 5px;
    border: 3px inset rgb(197, 191, 191);
}

.work-link {
    text-decoration: none;
    color: rgb(194, 194, 2);
}

.work-text {
    color: rgb(197, 191, 191);
    text-align: left;
    font-size: 1.2rem;
    margin-top: 4px;
}

#my-mail {
    color: rgb(194, 194, 2);
    font-size: 1.2rem;
}

@media (max-width: 680px) {
    .my-work-container {
        align-content: start;
    }
}